.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
.oxlintrc.json
.oxfmtrc.json
vitest.config.*
build.mjs
.editorconfig
.nvmrc
coverage/
**/*.map
**/*.ts
dist/
.github/
node_modules/
out/
!out/extension.js
!out/webExtension.js
test-resources/
resources/screenshot.png
